<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Lean App</title>
    <link rel="stylesheet" href="style.css">
    <script src="//opensource.keycdn.com/angularjs/1.6.2/angular.min.js"></script>
  </head>
  <body>
    <h1>Lean App</h1>
    <div ng-controller="Search">
      <input ng-model="food" placeholder="Type food here" />
      <button ng-click='searchFood()'>Find food</button>
      <table>
        <tr>
          <th>Food</th>
          <td>{{data.food}}</td>
        </tr>
        <tr>
          <th>Protein</th>
          <td>{{data.protein}}</td>
        </tr>
        <tr>
          <th>Calories</th>
          <td>{{data.calories}}</td>
        </tr>
        <tr>
          <th>Cal/1g Protein</th>
          <td>{{data.ratio}}</td>
        </tr>
      </table>
    <h1>Recent searches</h1>
    <ol>
       <li ng-repeat="food in recentSearches">
         Food - {{food.foodName}}
         Protein - {{food.protein}}
         Calories - {{food.calories}}
         Ratio - {{food.ratio}}
       </li>
    </ol>
    </div>
    <script src="index.js"></script>
  </body>
</html>
